@charset "UTF-8";
/* ie hack
don't remove that style*/
.m-page {
  display: block; }

@font-face {
  font-family: 'nova';
  src: url("../fonts/proximanova-extrabold-webfont.eot");
  src: url("../fonts/proximanova-extrabold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/proximanova-extrabold-webfont.woff2") format("woff2"), url("../fonts/proximanova-extrabold-webfont.woff") format("woff"), url("../fonts/proximanova-extrabold-webfont.ttf") format("truetype"), url("../fonts/proximanova-extrabold-webfont.svg#proxima_novaextrabold") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'nova';
  src: url("../fonts/proximanova-regular-webfont.eot");
  src: url("../fonts/proximanova-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/proximanova-regular-webfont.woff2") format("woff2"), url("../fonts/proximanova-regular-webfont.woff") format("woff"), url("../fonts/proximanova-regular-webfont.ttf") format("truetype"), url("../fonts/proximanova-regular-webfont.svg#proxima_nova_rgregular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'nova';
  src: url("../fonts/proximanova-semibold-webfont.eot");
  src: url("../fonts/proximanova-semibold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/proximanova-semibold-webfont.woff2") format("woff2"), url("../fonts/proximanova-semibold-webfont.woff") format("woff"), url("../fonts/proximanova-semibold-webfont.ttf") format("truetype"), url("../fonts/proximanova-semibold-webfont.svg#proxima_novasemibold") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'nexa_boldregular';
  src: url("../fonts/nexabold-webfont.eot");
  src: url("../fonts/nexabold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/nexabold-webfont.woff2") format("woff2"), url("../fonts/nexabold-webfont.woff") format("woff"), url("../fonts/nexabold-webfont.ttf") format("truetype"), url("../fonts/nexabold-webfont.svg#nexa_boldregular") format("svg");
  font-weight: normal;
  font-style: normal; }

.container-fluid {
  min-width: 320px;
  max-width: 1920px; }

.container-fluid:before, .container-fluid:after,
.clearfix:before,
.clearfix:after {
  content: '';
  display: table; }

.container-fluid:after,
.clearfix:after {
  clear: both; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.wrapper {
  overflow: hidden;
  min-width: 320px;
  max-width: 100%;
  margin: 0 auto; }

html {
  font-size: 16px;
  margin-top: 0 !important; }

body {
  font-family: "nova", sans-serif;
  font-size: 16px;
  color: #111;
  margin: 0; }
  body a {
    text-decoration: none;
    color: #ccc;
    outline: none; }
    body a:hover {
      text-decoration: none;
      color: #00e500;
      transition: color 0.5s linear;
      outline: none; }
    body a:active {
      text-decoration: none; }
    body a:focus {
      text-decoration: none; }

ul {
  list-style-type: none;
  padding-left: 0;
  margin: 0; }

.title-centered {
  text-align: center; }

li.current_page_item a {
  color: #00e500 !important; }

h2 {
  color: #111;
  font-family: 'nexa_boldregular', sans-serif;
  font-size: 48px;
  font-weight: 400; }

.site-header {
  position: relative;
  background-color: #111; }
  .site-header h1, .site-header p {
    display: inline-block;
    margin: 31px 0;
    float: left;
    font-weight: 700;
    font-size: 1.5rem; }
    .site-header h1 a, .site-header p a {
      color: white; }
  .site-header .hamburger, .site-header .cross {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    padding: 0 25px;
    color: #f1f1f1;
    z-index: 99999;
    background: none;
    border: none;
    outline: none;
    font-weight: bold; }
  .site-header .hamburger {
    line-height: 45px;
    font-size: 1.5rem; }
  .site-header .cross {
    font-size: 3rem;
    height: 45px; }
  .site-header .top-nav .menu-primary-menu-container {
    z-index: 999;
    font-family: 'nexa_boldregular',sans-serif;
    font-weight: bold;
    font-size: 0.8em;
    width: 96%;
    background: #7c8ca0;
    position: absolute;
    top: 94px;
    float: right; }
    .site-header .top-nav .menu-primary-menu-container li {
      border-bottom: #1d1f20 1px solid;
      text-align: center; }
      .site-header .top-nav .menu-primary-menu-container li:hover {
        background: #181818; }
      .site-header .top-nav .menu-primary-menu-container li:first-of-type a:before {
        content: '\f015';
        font-family: FontAwesome,sans-serif; }
      .site-header .top-nav .menu-primary-menu-container li a {
        display: block;
        padding: 10px 0 10px 0;
        width: 100%;
        height: 100%;
        margin: 0 !important;
        color: #ccc;
        font-size: 1rem;
        font-weight: 600;
        text-transform: uppercase; }
        .site-header .top-nav .menu-primary-menu-container li a i:hover {
          font-size: 1.25rem; }
        .site-header .top-nav .menu-primary-menu-container li a:hover {
          color: #00e500; }
  .site-header .top-nav form {
    float: right;
    padding: 10px; }
    .site-header .top-nav form .fa-search {
      cursor: pointer; }
    .site-header .top-nav form #search-input {
      display: none;
      border: 1px solid gray;
      padding: 8px;
      margin-top: -8px;
      margin-bottom: -8px;
      margin-left: 8px;
      width: 150px;
      text-align: center;
      line-height: 1; }

.site-footer {
  color: #555;
  border-top: 1px solid grey;
  font-family: 'nova',sans-serif;
  font-size: 0.75rem;
  font-weight: 600; }
  .site-footer .bottom-nav {
    padding: 30px 0;
    display: inline-block; }
    .site-footer .bottom-nav li {
      font-size: 14px;
      display: inline-block; }
      .site-footer .bottom-nav li a {
        padding: 30px 15px;
        color: #555; }
        .site-footer .bottom-nav li a:hover {
          color: #00e500; }
  .site-footer .social-icon {
    padding: 30px 15px; }
  .site-footer .copyright {
    font-size: 14px;
    padding: 30px 15px;
    color: #555; }
    .site-footer .copyright a {
      color: #555; }
      .site-footer .copyright a:hover {
        color: #00e500; }

.page.type-page {
  padding: 30px 0; }
  .page.type-page .entry-content {
    border-bottom: 1px solid #ccc; }
    .page.type-page .entry-content h2 {
      margin-bottom: 50px; }
    .page.type-page .entry-content p {
      padding-bottom: 20px; }

.people {
  padding: 60px 0 100px;
  text-align: center; }
  .people article {
    padding: 50px 40px 0; }
    .people article:nth-child(3n+1) {
      clear: both; }
    .people article .short-description {
      width: 220px;
      margin: auto; }
      .people article .short-description img {
        width: 100%;
        height: auto;
        border-radius: 50%; }
      .people article .short-description span {
        color: #555;
        font-size: 16px;
        font-weight: 600; }
      .people article .short-description h3 a {
        margin-top: 30px;
        font-size: 18px;
        font-weight: 600;
        color: #111; }

.posts {
  padding: 50px 0 0;
  text-align: center; }
  .posts .short-description {
    padding: 50px 0; }
    .posts .short-description h2 {
      margin: 0 auto 20px; }
      .posts .short-description h2 a {
        color: #111; }
    .posts .short-description .thumbnail-wrapper {
      margin: 45px auto; }
    .posts .short-description .date {
      color: #555;
      font-family: 'nova', sans-serif;
      font-size: 14px;
      font-weight: 600; }
    .posts .short-description p {
      text-align: left; }
    .posts .short-description .read-more {
      display: block;
      text-align: left;
      font-weight: 600;
      color: #111;
      outline: none; }
      .posts .short-description .read-more:before {
        content: '\f18e';
        font-family: FontAwesome, sans-serif;
        padding-right: 7px; }

.navigation {
  margin: 80px auto; }
  .navigation .page-numbers {
    padding: 10px;
    color: #111;
    font-family: 'Nova',sans-serif;
    font-size: 16px;
    font-weight: 600; }
  .navigation .prev, .navigation .next {
    padding: 5px 14px;
    position: relative;
    background-color: #111; }
  .navigation a.next:before {
    content: '\f054';
    font-family: FontAwesome, sans-serif;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
  .navigation a.prev:before {
    content: '\f053';
    font-family: FontAwesome, sans-serif;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }

.post {
  border-bottom: 1px solid #ccc; }
  .post h1 {
    color: #111;
    font-family: 'nexa_boldregular',sans-serif;
    font-size: 48px;
    font-weight: 400; }
  .post .date {
    display: block;
    margin: 20px 0 60px;
    color: #555;
    font-family: 'nova';
    font-size: 14px;
    font-weight: 600; }
  .post h3 {
    font-size: 28px;
    font-weight: 600; }
  .post header, .post img {
    text-align: center; }
  .post p {
    padding-bottom: 40px; }
  .post .social-title {
    text-align: center;
    padding: 30px 0 20px; }
  .post .social {
    text-align: center; }
    .post .social:before {
      content: 'Share this article…';
      display: block;
      text-align: center;
      padding: 30px 0 20px;
      font-size: 16px;
      font-family: 'nova',sans-serif;
      font-weight: 600; }

.categorised {
  background-color: #f7f7f7;
  border-bottom: 1px solid #ccc; }
  .categorised .category-list {
    float: right; }
    .categorised .category-list li {
      display: inline-block;
      padding: 20px 15px;
      border-bottom: 1px solid transparent; }
      .categorised .category-list li:hover {
        border-bottom: 1px solid black; }
      .categorised .category-list li a {
        color: #555;
        font-family: 'nexa_boldregular',sans-serif;
        font-size: 16px;
        font-weight: 400; }

@media screen and (min-width: 320px) and (max-width: 767px) {
  .main-section .preview-work:nth-child(even) {
    clear: both; }
  .botoom-nav {
    text-align: center; }
  .copyright {
    display: block; } }

@media screen and (min-width: 480px) and (max-width: 767px) {
  .m-page .top-title h2 {
    font-size: 2.25rem; }
  .m-page .page-desc-title p {
    padding: 10px 50px; }
  .m-page .get-account p {
    padding: 0 50px; } }

.social-icon, .copyright, .bottom-nav {
  text-align: center; }

@media screen and (min-width: 768px) and (max-width: 991px) {
  .m-page .page-desc-title p {
    padding: 10px 80px; }
  .m-page .main-section .preview-work:nth-child(2n+1) {
    clear: both; }
  .site-footer .bottom-nav, .site-footer .social-icon, .site-footer .copyrite {
    display: block; } }

@media screen and (min-width: 992px) {
  .site-header h1 {
    margin: 31px 0; }
  .site-header .crafty-social-buttons {
    margin: 40px 0; }
  .site-header .hamburger {
    display: none !important; }
  .site-header .top-nav .menu-primary-menu-container {
    width: 55%;
    position: static;
    background: transparent; }
    .site-header .top-nav .menu-primary-menu-container ul {
      display: block !important;
      float: right; }
      .site-header .top-nav .menu-primary-menu-container ul:before, .site-header .top-nav .menu-primary-menu-container ul:after {
        content: '';
        display: table; }
      .site-header .top-nav .menu-primary-menu-container ul:after {
        clear: both; }
      .site-header .top-nav .menu-primary-menu-container ul li {
        float: left;
        border-bottom: none; }
        .site-header .top-nav .menu-primary-menu-container ul li a {
          padding: 35px 10px; }
        .site-header .top-nav .menu-primary-menu-container ul li:hover {
          background-color: transparent; }
  .bottom-nav {
    text-align: left; } }

.button {
  display: inline-block;
  background-color: black;
  padding: 15px 20px;
  color: white;
  font-family: Novecentowide,sans-serif;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 0.875rem; }
  .button:hover {
    color: #00A8EF; }

button[type="submit"] {
  display: inline-block;
  text-transform: uppercase;
  background-color: #828282;
  padding: 10px 15px;
  border: none;
  color: white;
  margin-left: 5px; }

.social-icon {
  text-align: center; }
  .social-icon li {
    display: inline-block; }
    .social-icon li:not(:first-child) {
      margin-left: 10px; }
    .social-icon li a {
      display: block;
      border-radius: 50%;
      color: white;
      background-color: black;
      width: 34px;
      height: 34px;
      position: relative; }
      .social-icon li a:before {
        font-size: 0.9rem;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%); }
      .social-icon li a:hover:before {
        color: #00e500; }

.comments-area {
  padding: 20px 0 50px; }
  @media screen and (min-width: 992px) {
    .comments-area {
      padding: 30px 0 100px; } }
  .comments-area .comments-title {
    font-weight: 400;
    font-size: 2rem; }
  .comments-area > ol {
    padding: 0;
    list-style-type: none; }
  .comments-area ol.children {
    list-style-type: none; }
  .comments-area .comment-list .comment-body {
    padding-top: 50px; }
  .comments-area .comment-list .comment-meta {
    margin-bottom: 20px; }
    .comments-area .comment-list .comment-meta .comment-author .avatar {
      width: 70px;
      float: left;
      margin-right: 20px;
      border-radius: 50%; }
    .comments-area .comment-list .comment-meta .comment-author.vcard {
      padding: 15px 0; }
      .comments-area .comment-list .comment-meta .comment-author.vcard .fn {
        font-size: 1.5rem;
        font-weight: 600; }
    .comments-area .comment-list .comment-meta time {
      color: #555;
      font-size: 14px;
      font-weight: 600; }
  .comments-area .comment-list ol {
    margin-left: 90px; }
  .comments-area .comment-content {
    clear: left;
    margin-left: 90px; }
  .comments-area .reply {
    margin-left: 90px;
    font-weight: 600; }
    .comments-area .reply a {
      color: #555; }
      .comments-area .reply a:before {
        content: '\f112';
        font-family: FontAwesome, sans-serif;
        padding-right: 5px;
        font-size: 80%; }
  @media screen and (max-width: 767px) {
    .comments-area .comment-list ol {
      margin-left: 0; }
    .comments-area .comment-content {
      margin-left: 1.5em; }
    .comments-area .comment-content,
    .comments-area .reply {
      margin-left: 0; } }

.comment-respond label {
  font-weight: 600;
  display: block; }

.comment-respond .comment-reply-title {
  font-size: 2.125rem;
  font-family: 'nexa_boldregular',sans-serif;
  font-weight: 400;
  margin: 40px 0 30px; }

@media screen and (max-width: 767px) {
  .comment-respond {
    margin: 70px 0 50px; } }

.comment-respond .comment-form input, .comment-respond .comment-form textarea {
  border: 1px solid #ccc;
  border-radius: 2px; }

.comment-respond .comment-form .form-submit input[type="submit"] {
  outline: none;
  text-transform: uppercase;
  background-color: #575659;
  color: white;
  padding: 7px 10px;
  border-radius: 10px; }
  .comment-respond .comment-form .form-submit input[type="submit"]:hover {
    background-color: #00e500; }
